---
layout: default
---

<article class="post">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- HorizontalAds -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8513572715092457"
     data-ad-slot="6489142684"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <h1>{{ page.icon }} {{ page.title }}</h1>
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    كُتب في {{ page.date | date: "%d/%m/%Y" }}
  </div>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- HorizontalAds -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8513572715092457"
     data-ad-slot="6489142684"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  {% comment %} {% include disqus.html %} {% endcomment %}
  {% comment %} {% include comments.html %} {% endcomment %}
</article>
